TELEGRAM_BOT_TOKEN=isi_token_dari_botfather
GROQ_API_KEY=isi_groq_api_key
FIREBASE_DATABASE_URL=https://lebihfit-tools-final-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"lebihfit-tools-final","private_key_id":"xxx","private_key":"-----BEGIN PRIVATE KEY-----\nxxx\n-----END PRIVATE KEY-----\n","client_email":"xxx@lebihfit-tools-final.iam.gserviceaccount.com","client_id":"xxx","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token"}
